.about{
    padding: 5rem 0;
    color: #333;

    &-line-break{
        max-width: 4%;
        border: 2px solid $primary-red;
        border-radius: 5px;
    }

    &-container{
        margin: 0 auto;
    }

    &-owner-image-container{
        width: 50%;
        margin: 3rem auto;

        img{
            width: 100%;
            height: 100%;
        }
    }

    &-hero-image{
        background: url("../images/clean-stove.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15rem;
        position: relative;
    }

}