.footer{
    background: #333;
    margin-top: 6rem;
    margin-bottom: 0;
    color: #fff;

    &-header{
        text-align: center;
        text-transform: uppercase;
    }

    &-line-break{
        border: solid 1.5px $primary-red;
        width: 20%;
    }

    &-content-container{
        margin: 3rem 2rem 0 2rem;
        display: flex;
        justify-content: center;
        line-height: 24px; 
    }

    &-content{
        .left-line{
            width: 40%;
        }
    }

    &-sitemap-item{
        list-style: none;
    }

    &-content-middle{
        padding: 0 5rem;
        max-width: 38rem;
        
    }
    &-content-left{
     width: 33%;
    }
    &-content-right{
     width: 33%;
    }

    &-social-media-container{
        padding: 3rem 0;
    }

    &-social-media-links-container{
        text-align: center;
        a{      
            text-decoration: none;
            text-align: center;
            font-size: 1.2rem;
            &:nth-child(-n+3){
                margin-right: 1rem;
            }
            
            i{   
                color: $primary-red;
                border: none;
                font-size: 2rem;
            }
        }
    }

    &-email{
        color: lighten($primary-red, 15%);
    }

    &-bottom{
        background: darken(#333, 20%);
        padding: .2rem;

        &-text{
            text-align: center;
            font-size: .8rem;
        }
    }

    &-grey{
        color: lighten(#707070, 7%);
    }

}

@media all and (max-width: 900px) {
    .footer{
        &-content-middle{
            padding: 0 1rem;
        }
    }
}

@media all and (max-width: 870px) {
    .footer{
        &-content-middle{
            padding: 0;
        }

        &-content-container{
            flex-direction: column;
            padding: 0 1.25rem !important;
        }

        &-header{
            text-align: left;
        }
        &-sitemap{
            padding: 0;
        }

        &-who-we-are{
            max-width: 70%;
        }

        &-line-break{
            margin: 0;
        }

        &-contact-info{
            margin-top: 16px;

        } 
        
        &-content{
            width: 100%;
        }
    }
    
    .right-line, .middle-line, .left-line{
        width: 10% !important;
    }

    .social-header{
        text-align: center;
    }

}

@media all and (max-width: 600px) {
    .footer{

        &-content{
            margin-bottom: 2rem;
        }
        &-who-we-are{
            max-width: 100%;
        }
    }
}

@media all and (max-width: 400px) {
    .footer{
        &-content-container{
            margin: 3rem 2rem 0 1rem;
        }
    }
}