.footer{
    background: #333;
    margin-top: 6rem;
    margin-bottom: 0;
    color: #fff;
    height: 476.844;

    &-header{
        text-align: center;
        text-transform: uppercase;
    }

    &-line-break{
        border: solid 1.5px $primary-red;
        width: 20%;
    }

    &-content-container{
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        line-height: 24px; 
    }

    &-content{
        .left-line{
            width: 40%;
        }
    }

    &-sitemap-item{
        list-style: none;
    }

    &-content-middle{
        padding: 0 5rem;
        max-width: 38rem;
    }

    &-social-media-container{
        padding: 3rem 0;
    }

    &-social-media-links-container{
        text-align: center;
        a{
            color: #fff;
            text-decoration: none;
            background-color: $primary-red;
            padding: .5rem;
            text-align: center;
            font-size: 1.2rem;
            border-radius: 100%;
            
            &:nth-child(-n+3){
                margin-right: 1rem;
            }
            
            i{   
                color: #fff;
                border: none;
            }
        }
    }

    &-bottom{
        background: darken(#333, 20%);
        padding: .2rem;

        &-text{
            text-align: center;
            font-size: .8rem;
        }
    }

    &-grey{
        color: lighten(#707070, 7%);
    }

}