.hero{

    &-section{
        position: relative;
    }
    
    &-image-container{
        background: url("../images/hero-pic1.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15rem;
        position: relative;
    }

    &-text{
        color: #fff;
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &-text-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &-header{
        color: #fff;
        margin-bottom: 0;
        font-size: 4rem;
        font-weight: 700;
        text-shadow: 1px 0px 2px rgba(51,51,51,0.51);
    }
}

.darken-img{
    position: relative;
}

.darken-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
}