.nav{

    &-top-strip{
    height: 5px;
    width: 100%;
    background: $primary-red;

    }

    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-logo{
        margin-top: .3rem;
        width: 200px;
    }

    &-right-container{
        margin-left: 18rem;
    }

    &-links-container{
        display: flex;
        justify-content: space-around;
    }

    &-item{
        margin-left: 1.5rem;
    }

    &-links-container{
        list-style: none;
    }

    &-link{
        text-decoration: none;

        &:hover{
            border-bottom: 1.5px solid $primary-red;
            padding: .2rem;
            transition: all .3s ease-in-out; 
        }
    }
}