.nav{
    height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    &-top-strip{
    height: 5px;
    width: 100%;
    background: $primary-red;


    }

    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
    }

    &-logo{
        margin-top: .3rem;
        width: 200px;
    }

    &-right-container{
        margin-left: 18rem;
    }

    &-links-container{
        display: flex;
        justify-content: space-around;
    }

    &-item{
        margin-left: 1.5rem;
    }

    &-links-container{
        list-style: none;
    }

    &-link{
        text-decoration: none;
        color: #333;
        padding: .2rem;

        &:hover{
            border-bottom: 1.5px solid $primary-red;
            transition: all .2s ease-in; 
            color: $primary-red;
        }
    }

    &-burger{
        display: none;
    }

    &-burger div{
        width: 25px;
        height: 3px;
        background-color: $primary-red;
        margin: 5px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
}

@media all and (max-width: 1100px) {
    .nav{
        &-right-container{
            margin-left: auto;
        }
    }
}

@media all and (max-width: 815px) {
    body, html{
        position:relative;
        overflow-x: hidden !important;
    }
    .nav{
        &-right-container{
            margin-left: auto;
        }

        &-links-container{
            position: absolute;
            right: 0;
            height: 100vh;
            top: 80px;
            background-color: $primary-red;
            z-index: 999;
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0;
            padding: 0;
            clip-path: circle(10px at 90% -10%);
            -webkit-clip-path: circle(10px at 90% -10%);
            transition: all .6s ease-in-out;
            align-items: center;
        }
        &-item{
            opacity: 0;
        }

        &-link{
            color: #fff;
        }

        &-burger{
            display: block;
        }
    }
}

@media all and (max-width: 600px){
    .nav-links-container{
        width: 100%;
    }
}

.mobile-nav-active{
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateZ(50px)
    }
    to{
        opacity: 1;
        transform: translateZ(0px)
    }
}

.burger-toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.burger-toggle .line2{
    opacity: 0;
}
.burger-toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.sticky {
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.75);
}