.services{
    background: $primary-red;
    padding: 5rem 0;
    color: #fff;

    &-individual{
        &:nth-child(-n + 2){
            padding-right: 1.5rem;
        }
        text-align: center;
    }

    &-individual-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    &-line-break{
        max-width: 9%;
        border: solid #fff 1.5px;
        margin-bottom: 2rem;
        border-radius: 5px;
    }

    &-header{
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

    &-text{
        font-weight: 300;
    }
}

.top-services{
    &-container{
        margin: 5rem 0;
    }
   &-line-break{
        max-width: 9%;
        border: 2px solid $primary-red;
        border-radius: 5px;
    }
}

.services-image{
    background: url(../images/servicesBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem;
    position: relative;
}

@media all and(max-width: 835px){
    .services{
         &-individual-container{
            grid-template-columns: 50% 50%;
        }
    }
}

@media all and(max-width: 540px){
    .services{
         &-individual-container{
            grid-template-columns: 100%;
        }

        &-individual{
            margin-bottom: 2.5rem;
        }

        &-text{
            max-width: 80%;
            margin: 0 auto;
        }
    }
}