.capabilities{
    background: $primary-red;
    padding: 3rem 0;
    color: #fff;

    &-individual-container{
        display: grid;
        grid-template-columns: 50% 50%;
        line-height: 1.9;
        text-transform: capitalize;
    }

    &-line-break{
        max-width: 11%;
        border: solid #fff 1.5px;
        margin-bottom: 2rem;
        border-radius: 5px;
    }

    &-header{
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

    &-text{
        font-weight: 300;
    }
}

.top-services{
    &-container{
        margin: 5rem 0;
    }
   &-line-break{
        max-width: 9%;
        border: 2px solid $primary-red;
        border-radius: 5px;
    }
}

.capabilities-image{
    background: url(../images/servicesBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem;
    position: relative;
}

.we-service{
    &-line-break{
        max-width: 5%;
        border: 2px solid $primary-red;
        border-radius: 5px;
    }

    &-header{
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-top: 5rem;
    }

    &-sub-header{
        color: #153570;
    }

    &-main-container{
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-evenly;
    }

    &-container-government, &-container-commercial{
        margin-bottom: 2rem;
    }
}

@media all and(max-width: 835px){
    .capabilities{
         &-individual-container{
            grid-template-columns: 50% 50%;
        }

        &-individual{
            padding: .5rem;
        }

        &-individual:nth-child(-n + 2) {
        padding-right: .5rem;
        }
    }
}

@media all and(max-width: 540px){
    .capabilities{
         &-individual-container{
            grid-template-columns: 100%;
        }

        &-individual{
            margin-bottom: 2.5rem;
        }

        &-text{
            max-width: 80%;
            margin: 0 auto;
        }

        &-list-container-left{
            margin-bottom: 0;
        }

        &-list-container-right{
            margin-top: 0;
        }
    }
}