.whyUs{
    height: 32rem;
    overflow: hidden;
    background: #333;
    
    &-text-container{
        margin-top: 4rem;
        color: #fff;
    }

    &-container{
    display: flex;
    }

    &-img{
        max-width: 100%;
        max-height: 100%;
    }

    &-right{
        align-self: flex-start;
        width: 50%;
    }

    &-left{
        width: 50%;
    }

    &-line-break{
        max-width: 14%;
        border: solid $primary-red 1.5px;
        border-radius: 5px;
    }

    &-text{
        width: 50%;
        margin: 0 auto;
    }

    &-list-item{
        list-style: none;
        &:not(:last-child) { 
            margin-bottom: 1rem;
        }
    }

}